<form [formGroup]="goodsForm" (ngSubmit)="onSubmit()">
  <div>
    <div>
      <label for="title">제목/상품명</label>
    </div>
    <div>
      <input
        id="title"
        type="text"
        required
        minlength="2"
        maxlength="200"
        formControlName="title">
    </div>
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      제목/상품명을 정확히 입력해 주세요(2자 이상).
    </div>
  </div>
  <div>
    <div>다른 그룹에 공개</div>
    <div>
      <label for="public">공개함</label>
      <input
        id="public"
        type="checkbox"
        formControlName="public">
    </div>
  </div>
  <div>
    <div>카테고리</div>
    <div>
      <label for="appliances">가전제품/디지털</label>
      <input
        id="appliances"
        type="radio"
        [value]="goodsCategory.appliances"
        formControlName="category">
      <label for="household">생활용품</label>
      <input
        id="household"
        type="radio"
        [value]="goodsCategory.household"
        formControlName="category">
      <label for="beauty">뷰티</label>
      <input
        id="beauty"
        type="radio"
        [value]="goodsCategory.beauty"
        formControlName="category">
      <label for="home">홈데코</label>
      <input
        id="home"
        type="radio"
        [value]="goodsCategory.home"
        formControlName="category">
      <label for="women">여성의류</label>
      <input
        id="women"
        type="radio"
        [value]="goodsCategory.women"
        formControlName="category">
      <label for="man">남성의류</label>
      <input
        id="man"
        type="radio"
        [value]="goodsCategory.man"
        formControlName="category">
      <label for="fashion">패션잡화</label>
      <input
        id="fashion"
        type="radio"
        [value]="goodsCategory.luxury"
        formControlName="category">
      <label for="luxury">명품/주얼리</label>
      <input
        id="luxury"
        type="radio"
        [value]="goodsCategory.kids"
        formControlName="category">
      <label for="kids">유아/출산</label>
      <input
        id="kids"
        type="radio"
        formControlName="category">
    </div>
  </div>
  <div>
    <div>구입시기</div>
    <div>
      <label for="unknown">알 수 없음</label>
      <input
        id="unknown"
        type="radio"
        [value]="goodsPurchaseTime.unknown"
        formControlName="purchaseTime">
      <label for="week">일주일 이내</label>
      <input
        id="week"
        type="radio"
        [value]="goodsPurchaseTime.week"
        formControlName="purchaseTime">
      <label for="month">한달 이내</label>
      <input
        id="month"
        type="radio"
        [value]="goodsPurchaseTime.month"
        formControlName="purchaseTime">
      <label for="threeMonth">3개월 이내</label>
      <input
        id="threeMonth"
        type="radio"
        [value]="goodsPurchaseTime.threeMonth"
        formControlName="purchaseTime">
      <label for="year">일년 이내</label>
      <input
        id="year"
        type="radio"
        [value]="goodsPurchaseTime.year"
        formControlName="purchaseTime">
      <label for="longAgo">오래전</label>
      <input
        id="longAgo"
        type="radio"
        [value]="goodsPurchaseTime.longAgo"
        formControlName="purchaseTime">
    </div>
  </div>
  <div>
    <div>상품 상태</div>
    <div>
      <label for="unopened">미개봉</label>
      <input
        id="unopened"
        type="radio"
        [value]="goodsCondition.unopend"
        formControlName="condition">
      <label for="almostNew">거의 새상품</label>
      <input
        id="almostNew"
        type="radio"
        [value]="goodsCondition.almostNew"
        formControlName="condition">
      <label for="used">사용감 있음</label>
      <input
        id="used"
        type="radio"
        [value]="goodsCondition.used"
        formControlName="condition">
    </div>
  </div>
  <div>
    <div>거래 방법</div>
    <div>
      <label for="directly">직거래</label>
      <input
        id="directly"
        type="radio"
        [value]="goodsDelivery.directly"
        formControlName="delivery">
      <label for="courier">택배</label>
      <input
        id="courier"
        type="radio"
        [value]="goodsDelivery.courier"
        formControlName="delivery">
      <label for="etc">기타(직접 입력)</label>
      <input
        id="etc"
        type="radio"
        [value]="goodsDelivery.etc"
        formControlName="delivery">
      <ng-container *ngIf="delivery.value === goodsDelivery.etc">
        <label for="deliveryEtc">거래 방법</label>
        <input
          id="deliveryEtc"
          type="text"
          placeholder="거래 방법을 입력해 주세요."
          required
          minlength="2"
          maxlength="200"
          formControlName="deliveryEtc">
      </ng-container>
      <div *ngIf="delivery.value === goodsDelivery.etc && deliveryEtc.invalid && (deliveryEtc.dirty || deliveryEtc.touched)">
        거래방법을 정확히 입력해 주세요(2자 이상).
      </div>
    </div>
  </div>
  <div>
    <div>상품 이미지</div>
    <div>
      <ul>
        <li *ngFor="let imageFile of imageFileMap | keyvalue">
          <div class="goods_thumb rotate0" [style.backgroundImage]="'url(' + (imageFile.value | objectURL) + ')' | sanitizer: 'style'">
          </div>
        </li>
      </ul>
    </div>
    <div>
      <input
        type="file"
        accept="image/gif, image/jpeg, image/png"
        multiple
        (change)="onChangeImage($event)">
    </div>
  </div>
  <div>
    <div>
      <label for="contact">연락처</label>
    </div>
    <div>
      <input
        id="contact"
        type="text"
        required
        minlength="2"
        maxlength="200"
        formControlName="contact">
    </div>
    <div *ngIf="contact.invalid && (contact.dirty || contact.touched)">
      연락처를 정확히 입력해 주세요(2자 이상).
    </div>
  </div>
  <div>
    <button
      type="submit"
      [disabled]="!goodsForm.valid">
      등록
    </button>
    <button type="button" (click)="test()">업로드 테스트</button>
    {{ uploadedFileCount }}({{ uploadedFilePercent }}%) / {{ totalFileCount }}
  </div>
</form>
