<h2>로그인</h2>

<ng-container *ngIf="!submitted">
  <p>
    이메일을 입력하세요.<br>
    이메일을 통해 로그인 링크를 전달합니다.
  </p>
  <form
    (ngSubmit)="submit()"
    #signInForm="ngForm">
    <div>
      <label for="account">이메일 계정</label>
      <input
        id="account"
        name="account"
        type="text"
        #accountCtl="ngModel"
        [(ngModel)]="account"
        minlength="2"
        required>
    </div>
    <div *ngIf="accountCtl.invalid && (accountCtl.dirty || accountCtl.touched)">
      <div *ngIf="accountCtl.errors.required">
        이메일 계정을 입력하세요.
      </div>
      <div *ngIf="accountCtl.errors.minlength">
        이메일 계정을 2자 이상 입력하세요.
      </div>
    </div>
    <div>
      <label for="domain">도메인</label>
      <select
        id="domain"
        name="domain"
        #domainCtl="ngModel"
        [(ngModel)]="domain"
        required>
        <option value=""></option>
        <option
          *ngFor="let group of groups | async"
          [value]="group.domain">
          {{ group.domain }}
        </option>
      </select>
    </div>
    <div *ngIf="domainCtl.invalid && (domainCtl.dirty || domainCtl.touched)">
      <div *ngIf="domainCtl.errors.required">
        도메인을 선택하세요.
      </div>
    </div>
    <div>
      <button
        type="submit"
        [disabled]="!signInForm.form.valid">
        {{ submitting ? '전송중...' : '이메일 전송' }}
      </button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="submitted">
  <p>
    {{ account }}@{{ domain }}으로 로그인 메일을 보냈습니다.<br/>
    메일을 확인해 주세요.
  </p>
  <p>
    <button type="button" (click)="reset()">다시 보내기</button>
  </p>
</ng-container>
